<div  id="imagenQuienesSomos">
    <img  src="/assets/novedades 2.png" alt="">
</div>

<section class="novedades-container">
  <div class="novedades-grid">

    <!-- Lanzamiento 1 -->
    <div class="novedad-card">
      <img src="/assets/remeraArgentino.png" alt="Legends Collection">
      <h3 class="novedad-titulo">LEGENDS COLLECTION</h3>
      <p class="novedad-desc">Remeras edición limitada inspiradas en íconos del básquet argentino .</p>
      <div>
        <button id="producto" routerLink="/producto"> Ver Productos
        </button>
      </div>
    </div>

    <!-- Lanzamiento 2 -->
    <div class="novedad-card">
      <img src="/assets/KD 16.png" alt="Elevate Shoes">
      <h3 class="novedad-titulo">ZAPATILLAS HOOPSTYLE ELEVATE</h3>
      <p class="novedad-desc">Zapatillas de tracción mejorada y amortiguación ligera para el juego.</p>
      <div routerLink="/producto">
        <button id="producto" > Ver Productos
        </button>
      </div>
    </div>

    <!-- Lanzamiento 3 -->
    <div class="novedad-card" >
      <img src="/assets/remeraOrlando.png" alt="City Edition">
      <h3 class="novedad-titulo">CITY EDITION 2025</h3>
      <p class="novedad-desc">Diseños inspirados en Chicago, LA, New York y Miami.</p>
      <div>
        <button id="producto" routerLink="/producto"> Ver Productos
        </button>
      </div>
    </div>

  </div>
<!-- SECCIÓN PRÓXIMAMENTE -->
<section class="proximamente-section">
  <h2 class="titulo-proximamente">PRÓXIMAMENTE</h2>
  <p class="subtitulo-proximamente">Nuevos lanzamientos que llegarán a HoopStyle muy pronto.</p>

  <div class="proximamente-grid">

    <!-- CARD 1 -->
    <div class="proximamente-card">
      <img src="/assets/RemeraSanMartin.png" alt="Drop 2025" class="proximamente-img">
      <h3>DROP EXCLUSIVO 2025</h3>
      <p>Modelos edición limitada con inspiración en streetball y cultura urbana.</p>
      <button class="btn-proximamente " routerLink="/producto" >VER MÁS</button>
    </div>

    <!-- CARD 2 -->
    <div class="proximamente-card">
      <img src="/assets/RemeraJazz.png" alt="Retro Pack" class="proximamente-img">
      <h3>RETRO PACK – NBA CLASSICS</h3>
      <p>Remeras y jerseys clásicos que vuelven con un estilo renovado.</p>
      <button class="btn-proximamente" routerLink="/producto" >VER MÁS</button>
    </div>

    <!-- CARD 3 -->
    <div class="proximamente-card">
      <img src="/assets/curry 2.png" alt="Zapatillas Pro" class="proximamente-img">
      <h3>HOOPSTYLE PRO SERIES</h3>
      <p>Zapatillas de alto rendimiento inspiradas en jugadores profesionales.</p>
      <button class="btn-proximamente" routerLink="/producto">VER MÁS</button>
    </div>

  </div>
</section>


</section>
