/*estilo general*/
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

/*contenedor de las tarjetas*/
.card-container {
    display: grid;
    justify-content: center;
    /*centra las tarjetas*/
    gap: 30px;
    /*espacio entre las tarjetas*/
    flex-wrap: wrap;
    padding: 20px;
grid-template-columns: repeat(4, 1fr);  
}
#estrella-favorito {
  position: absolute;
  background: none;
  border: none;
  
}


/*efecto hover en la tarjeta*/
.card-hover {
    transform: scale(1.05);
    box-shadow: 0 8px rgba(255, 255, 255, 0.2);
}

/*imagen dentro de la tarjeta*/
.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*estilo del boton*/

.card .btn {
    background-color: bisque;
    color: black;
    border: none;
    transition: background 0.3 ease-in-out;
}

.card .btn:hover {
    background-color: bisque;
}
.card-cantainer {
  display: grid;
  flex-direction: column; /* Esto los pone en columna */
  align-items: center;    /* Centra las tarjetas horizontalmente */
  gap: 20px;              /* Espacio entre tarjetas */
  padding: 40px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/*crea tantas columnas como quepan, cada una de mínimo 250px y máximo 1 fracción del ancho disponible.*/
}

.card {
  width: 300px;            /* Opcional, tamaño de cada tarjeta */
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}

/* responsibilidad en pantalla chica    */
@media(max-width:600px) {
    .card-container {
        display: flex;
        flex-direction: column;
        /* Esto los pone en columna */
        align-items: center;
        /* Centra las tarjetas horizontalmente */
        gap: 20px;
        /* Espacio entre tarjetas */
        padding: 20px;
    }


}