/*estilo general*/
body{
    background-color: black;
    color: white;
    font-family: Arial,  sans-serif;
}
/*contenedor de las tarjetas*/
.card-container{
    display: flex;
    justify-content: center; /*centra las tarjetas*/
    gap: 20px; /*espacio entre las tarjetas*/
    flex-wrap: wrap;
    padding: 20px;
    
}
/*estilos para las tarjetas */
.card{
    width: 18rem;
    background-color:rgb(54, 49, 49);
    color: white;
    border-radius: 18px;
    overflow: hidden;
    transition: transform 0.3 ease-in-out;
    box-shadow: 0 4px rgba(255, 255,255,0.1);
}
/*efecto hover en la tarjeta*/
.card-hover{
    transform: scale(1.05);
    box-shadow: 0 8px rgba(255, 255,255,0.2);
}
/*imagen dentro de la tarjeta*/
.card-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
/*estilo del boton*/

.card .btn{
    background-color: bisque;
    color: black;
    border: none;
    transition: background 0.3 ease-in-out;
}

.card .btn:hover{
    background-color: bisque;
}
/* responsibilidad en pantalla chica    */
@media(max-width:600px){
    .card-container{
        flex-direction: column;
        align-items: center;
    }


}