<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/hoopstyle.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item ">
            <img src="/assets/carrusel 1.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/carrusel2.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/carrusel 3.webp" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">

    <div class="col-sm-3 text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-truck"
        viewBox="0 0 16 16">
        <path
          d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A2 2 0 0 1 4.732 11h5.536a2 2 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2" />
      </svg>
      <h5>Envios a todo el pais</h5>
    </div>

    <div class="col-sm-3 text-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
        class="bi bi-credit-card-2-back-fill" viewBox="0 0 16 16">
        <path
          d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1z" />
      </svg>
      <h5>Varios metodos de pago</h5>
    </div>

    <div class="col-sm-3" style="text-align: center;">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-file-person-fill"
        viewBox="0 0 16 16">
        <path
          d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2m-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11" />
      </svg>
      <h5>Personal activo de 8am - 20pm</h5>
    </div>
    <div class="col-sm-3" style="text-align: center;">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-patch-check"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0" />
        <path
          d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z" />
      </svg>
      <h5 aria-label="Productos originales de marca" title="Productos originales de marca">Productos 100% originales</h5>
    </div>
  
    <div class="col-sm-4 my-5"> 
      <img src="/assets/Remeras1.png" style="width: 700px; height: 500px; border-radius: 10px;"
        alt="">
    </div>
    <div class="col-3 my-5 "></div>
    <div class="col-sm-5 my-5">
      <img src="/assets/nuevoslanzamientos.png"
              style="width: 500px; height: 500px; border-radius: 10px;" alt=""> 
    </div>

  </div>



  <!--
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
      aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/hoopstyle.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="/assets/carrusel 1.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/carrusel2.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/carrusel 3.webp" class="d-block w-100" alt="...">
    </div>
  </</div>div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/sobrenosotros.png" class="d-block w-100" alt="...">
    </div>
  </div>


  <br>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-lg-2 "><img src="/assets/Envios2.png" class="icon-img"></div>
    <div class="col-lg-2 "><img src="/assets/orig.png" alt="" class="icon-img"></div>
    <div class="col-lg-2 "><img src="/assets/respuesta.png" alt="" class="icon-img"></div>
    <div class="col-lg-2 "><img src="/assets/metodos.png" alt="" class="icon-img"></div>
    <div class="col-2 "></div>
  </div>
  <br>
  <div class="position-relative my-5">
    <h2 class="text-center mb-4 fw-bold">Productos destacados</h2>


    <div class="container d-flex  px-4">
      <div class="row">
        <ng-container *ngFor="let producto of productosDestacados">
          <div class="col">
            <div class="card  text-center">
              <img [src]="producto.imagen" class="card-img-top mx-auto" alt="{{ producto.nombre }}" />
              <div class="card-body">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p *ngIf="producto.descripcion" class="card-text text-muted">{{ producto.descripcion }}</p>
                <p class="colorcard"> {{ producto.precio | currency}}</p>
                <button routerLink="/producto" class="btn " style="background-color: rgb(222, 150, 129);">Ver más</button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row featurette">
          <h2 class="featurette-heading fw-normal lh-1" style="margin-left: 380px;">Nuevos lanzamientos todos los
              meses
              <span class="text-body-secondary"></span>
            </h2>
            <p class="lead" style="margin-left: 420px;">Traemos nuevos modelos originales todos los meses
            </p>
          <div class="col-md-7">
            <img src="/assets/Remeras1.png" style="width: 700px; height: 500px; border-radius: 10px;" alt="">
          </div>
          <div class="col-md-5"> <img src="/assets/nuevoslanzamientos.png"
              style="width: 500px; height: 500px; border-radius: 10px;" alt=""> </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>


  </div>
  -->