<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <a href="#"  > <i class="fa-solid fa-house fa-2x " style="color: #000000;"></i> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/producto">producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ofertas">ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contacto">contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/quienessomos">Quienes somos</a>
          </li>
        </ul> 

        <div class="navbar-nav me-4 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " routerLink="/carrito"><i class="fa-solid fa-cart-shopping fa-2x" style="color: #000000;"></i></a>
          </li>
        </div>
        <form class="d-flex" role="search">
          
          
          
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
