<nav class="navbar navbar-expand-lg ">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mx-auto mb-2 mb-lg-0 center-nav">
      <li>
        <a href="#" class="nav-link active"> Inicio </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/producto" routerLinkActive="active">Producto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/ofertas" routerLinkActive="active">Ofertas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/contacto" routerLinkActive="active">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/quienessomos" routerLinkActive="active">Quienes somos</a>
      </li>
      <div>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/favoritos" routerLinkActive="active"><i style="color: #FFD43B;"></i>
            Favoritos </a>
        </li>
      </div>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/inicio-sesion" routerLinkActive="active"><i style="color: #FFD43B;"></i> <i
            class="fa-solid fa-user fa-lg"></i> </a>
      </li>
        <li class="nav-item">
        <a class="nav-link " routerLink="/carrito"><i class="fa-solid fa-cart-shopping fa-lg"
            style="color: #ffffff;"></i></a>
      </li>
    </ul>
  </div>

</nav>