<div  id="imagenQuienesSomos">
    <img  src="/assets/quienessomos.png" alt="">
</div>

<br>
<div class="titulos">
    <h2>¿Todavia no sabes quienes somos?</h2>
</div>

<div class="info1">
    <p>
        En HoopStyle vivimos el básquet como estilo de vida. Desde Río Negro, Argentina, llevamos más de 10 años
        vistiendo a jugadores y fanáticos con productos originales, cómodos y con actitud.
    </p>

</div>

<div class="titulos">
    <h2>¿QUIÉNES SOMOS?</h2>
</div>

<div class="info1">
    <p>Somos una marca argentina que fusiona pasión, diseño y cultura deportiva. Nacimos en una cancha de barrio y hoy
        enviamos a todo el país. Cada remera y cada par de zapatillas que vendemos cuenta una historia de esfuerzo,
        estilo y juego.
    </p>
    <h2 class="titulos "> tenemos :</h2>

    <div class="row">

        <div class="card">
            <div class="card-body ">
                <h5 class="card-title">🏀 Productos 100% originales</h5>
            </div>
        </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">🎽 Estilo urbano y deportivo</h5>
                </div>
            </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">📦 Envíos a todo el país</h5>
                    </div>
                </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">🤝 Atención personalizada</h5>
                        </div>
                    </div>

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">🌟 Más de 10 años en el mercado</h5>
                            </div>
                        </div>

        </div>