.titulos{
    text-align: center;
}
.info1{
    font-size: 18px;
    margin: 0 auto;
    width: 60%;
    text-align: center;
    margin-bottom: 20px;

}
#imagenQuienesSomos img {
   width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}