<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Contacto</h2>
            <p>Horarios de atención: </p>
            <p>Lun. a Vie. de 9 a 12 y de 17 a 20 hs. Sab. de 9 a 12:30 y de 17 a 20 hs.</p>
            <p><i class="fa-solid fa-comment"></i> +54 29963565689</p>
            <p><i class="fa-solid fa-phone"></i> +54 29953565649</p>

        </div>
        <div class="col-6" >
            <form class="form">
                <h2 style="text-align: center;">Contactate con nosotros</h2>
                <div class="input-container">
                    <input type="nombre" placeholder="Ingresa tu nombre">
                </div>
                <div class="input-container">
                    <input type="email" placeholder="Ingresa tu email">
                    <span>
                    </span>
                </div>
                <div class="input-container">
                    <input type="number" placeholder="Ingresa tu telefono">
                </div>
                
                <div class="input-container">
                    <textarea name="comentario" id="" style="width: 700px; border-radius: 0.5rem;" placeholder="Ingrese su comentario "></textarea>
                    </div>
                <button type="submit" class="submit">
                    Enviar
                </button>

            </form>
        </div>
    </div>
</div>