/*Estilos para modo oscuro*/
body{
    transition: all 1.5s ease;
}
#toggle{
    display: none;
}
#label_toggle{
    position: static;
    cursor: pointer;
}

.dark{
    background-color: black;
    color: white;
    transition: all 1.5s ease;
}
* {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px; /* separa un poco las letras */
  text-transform: uppercase; /* si querés que todo sea mayúsculas como en la imagen */
}
