<div class="card-container">
       <div class="card" *ngFor="let producto of productos; let i= index" >
        <p>{{i+1}}.Nombre: {{producto.nombre}}</p>
        <p>precio: {{producto.precio}}</p>
        <p>numero del producto :{{i}}</p>
        <img [src]="producto.imagen" alt="">
      </div>
    
      <h1>Productos</h1>
      <div class="card-cantainer">
        <ng-container *ngIf=" productos && productos.length">
          <ng-container *ngFor="let producto of productos">
            <div *ngIf="producto.disponibilidad " class="card">
              <img [src]="producto.imagen" alt="{{producto.nombre}}" class="product-image">
              <h2>{{producto.nombre}}</h2>
              <p>{{producto.descripcion}}</p>
              <p>Precio : {{producto.precio}}</p>
              <button type="button" class="btn btn-outline-primary" (click)="agregar(producto)">Agregar al Carrito</button>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <!--

      
<div [ngClass]="{'activo':usuario.activo , 'inactivo':usuario.activo}">
  {{usuario.nombre}} 
</div>
  -->

